<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf Hello</title>
</head>
<body>
<h1 th:text="${Name}" >Hello LHD</h1>
<table>
<tr th:each="job : ${jobs}">
    <td th:text="${job.name}"> </td>
    <td th:text="${job.company.name}"> </td>
    <td th:text="${#numbers.formatDecimal(job.salary, 0, 'COMMA', 0, 'POINT')}"> </td>
    <td th:each="skill: ${job.skills}" th:text="${skill.name}"> </td>

</tr>
</table>
</body>
</html>
